header {
    display: flex;
    flex-wrap: wrap;
    margin: var(--espace-1half);
}

@media screen and (max-width: 428px) {
    .btn, p {
        margin: var(--espace-quart) var(--espace-quart) 0 0 ;
    }
}
