header {
    display: flex;
    flex-wrap: wrap;
    padding: var(--espace-2);
    margin-bottom: var(--espace-half);
    background-color: rgba(255, 255, 255, 0.7); 
    position: relative;
}

@media screen and (max-width: 428px) {
    .btn, p {
        margin: var(--espace-quart) var(--espace-quart) 0 0 ;
    }
}
