/* 1 - SETTINGS */
@import url(/assets/css/1-settings/variables.css);

/* 3 - GENERIC */
@import url(/assets/css/3-generic/reset.css);

/* 4 - ELEMENTS */
@import url(/assets/css/4-elements/typographies.css);
@import url(/assets/css/4-elements/header.css);
@import url(/assets/css/4-elements/nav.css);

/* 5 - OBJETCS */
@import url(/assets/css/5-objects/button.css);
@import url(/assets/css/5-objects/checkbox.css);
@import url(/assets/css/5-objects/div.css);
@import url(/assets/css/5-objects/form.css);
@import url(/assets/css/5-objects/header.css);
@import url(/assets/css/5-objects/input.css);
@import url(/assets/css/5-objects/label.css);
@import url(/assets/css/5-objects/message.css);
@import url(/assets/css/5-objects/modal.css);
@import url(/assets/css/5-objects/spacing.css);
@import url(/assets/css/5-objects/wrapper.css);
@import url(/assets/css/5-objects/table.css);

/* 6 - PAGES */
@import url(/assets/css/6-pages/accueil.css);
@import url(/assets/css/6-pages/parametres.css);
@import url(/assets/css/6-pages/voiture.css);
@import url(/assets/css/6-pages/crm.css);

