.container_accueil {
    display: flex;
    flex-direction: row;
}

.grid-catalogue {
    flex-grow: 1; 
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.form_recherche {
    text-align: end;
}

.filtres-catalogue {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    font-family: "Palanquin";
    font-size: var(--texte-xxs);
    padding: var(--espace-quart) var(--espace-3quarts);
}



.item-catalogue{
    display: flex; 
    flex-direction: row; 
    border: 1px solid var(--coul-primaire);
    margin-top: var(--espace-1);
}

.car-image {
    border: 5px solid var(--coul-primaire);
    flex-basis: 25%;
    margin-right: var(--espace-1);
    align-content: center;
    width: 252px;

}

img{
    width: 100%;
    height: auto;

}

.car-info {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    flex-grow: 1; 

}

.car-detail {
    display: flex;
    flex-direction: column;
    margin: var(--espace-1);
    justify-content: end;
}

.car-prix {
    display: flex;
    flex-direction: column;
    margin-top: var(--espace-1);
    align-items: end;

}



/* .item-catalogue{
    display: flex;   
    border: 1px solid var(--coul-primaire);
    margin-top: var(--espace-1);

}

.car-image {
    border: 5px solid var(--coul-primaire);
    flex-basis: 25%;
    margin-right: var(--espace-1);
    align-content: center;
    width: 252px;
    
}

img{
    width: 100%;
    height: auto;
    
}

.car-info {
    display: flex;
    flex-direction: row;
  
    align-items:center;
    justify-content: space-around;
   
    
}

.car-detail {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    margin-top: var(--espace-1);
}

.car-prix {
    display: flex;
    flex-direction: column;
    margin-top: var(--espace-1);

} */

h2 {
    font-family: "Roboto";
    font-size: var(--texte-xl);
    color: var(--coul-texte-default);
    font-weight: bold;
    text-transform: uppercase;

}

.input_recherche {
    border-radius: 0.3rem;
    background-color: var(--coul-fond-pale);
    border: 1px solid var(--coul-primaire);
    color: var(--coul-primaire);
    font-family: "Roboto";
    font-size: var(--texte-sm);
    padding: var(--espace-quart) var(--espace-3quarts);
    width: 48%;

}

.grid_carrosserie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

@media screen and (max-width: 834px) {
    .item-catalogue{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .car-detail {
        margin: var(--espace-1);
    }

    .car-image {
        width: 100%;
        margin-right: 0;
    }
    h2{
        font-size: var(--texte-lg);
    }
}