.container_accueil {
    display: flex;
    flex-direction: row;

}

.grid-catalogue {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    flex-basis: 80%;

}

.form_recherche{
    text-align: end;
        
}

.filtres-catalogue{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    font-family: "Palanquin";
    font-size: var(--texte-xxs);
    padding: var(--espace-quart) var(--espace-3quarts);

}

.item-catalogue{
    display: flex;
    border: 1px solid var(--coul-primaire);
    margin-top: var(--espace-1);
    
}

.car-image {
    flex-basis: 25%;
    border: 5px solid var(--coul-primaire);
    margin-right: var(--espace-1);
    align-content: center;
}

img{
    width: 100%;

}

.car-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-basis: 75%;
    margin-top: var(--espace-1);
    text-align:justify;

}

.car-detail {
    display: flex;
    flex-direction: column;
    margin-top: var(--espace-1);

}

.car-prix {
    display: flex;
    flex-direction: column;
    margin-top: var(--espace-1);
    align-items: end;

}

h2 {
    font-family: "Roboto";
    font-size: var(--texte-xl);
    color: var(--coul-texte-default);
    font-weight: bold;
    text-transform: uppercase;

}

.input_recherche {
    border-radius: 0.3rem;
    background-color: var(--coul-fond-pale);
    border: 1px solid var(--coul-primaire);
    color: var(--coul-primaire);
    font-family: "Roboto";
    font-size: var(--texte-sm);
    padding: var(--espace-quart) var(--espace-3quarts);
    width: 48%;

}

.grid_carrosserie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}


/* .form_filtre {
    font-family: "Roboto";
    font-size: var(--texte-sm);
    padding: var(--espace-quart) var(--espace-3quarts);
    color: red;
} */
