.page-voiture {
    display: flex;
    flex-wrap: wrap;
    gap: var(--espace-4);
    margin: var(--espace-3);

    > * {
        flex: 1;
    }

    .voiture-photos {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--espace-2);
        flex: 2;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-position: center;
            object-fit: cover;
        }

        .photo-large {
            width: 85.5%;
            height: 100%;
            img {
                aspect-ratio: 1.4 /1;
                border: 3px solid var(--coul-primaire);
            }
        }

        .thumbnails {
            display: flex;
            flex-direction: column;
            gap: var(--espace-1);
            width: 14%;

            & .thumbnail {
                cursor: pointer;
            }

            & .thumbnail--active {
                border: 1px solid var(--coul-principale);
            }
        }
    }

    .voiture-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--espace-1);

        h1 {
            font-size: var(--texte-xl);
        }
        .voiture-actions {
            display: flex;
            flex-direction: column;
            gap: var(--espace-1);

            .prix {
                color: var(--coul-primaire);
                font-size: var(--texte-xxl);
                font-family: "Roboto Slab";
                font-weight: 900;
                margin-bottom: var(--espace-2);
            }

            button {
                width: 20vw;
            }

            .icons {
                display: flex;
                gap: var(--espace-2);
            }
        }
    }

    .voiture-params {
        flex: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: var(--coul-quatrieme);
        padding: var(--espace-1half) var(--espace-2);
        justify-content: flex-start;
        font-family: "Roboto";
        font-weight: 300;
        font-size: var(--texte-xs);

        span {
            width: 25%;
            margin-bottom: var(--espace-3quarts);

            .bold {
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 834px) {
    .page-voiture {
        margin-top: var(--espace-8);
        gap: var(--espace-2);

        .voiture-details {
            flex: 100%;
            flex-direction: row;

            h1 {
                flex: 2;
            }

            .voiture-actions {
                flex: 1;
                button {
                    width: 30vw;
                }
            }
        }

        .voiture-params {
            span {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 428px) {
    .page-voiture {
        margin: var(--espace-1half);

        .voiture-photos {
            flex-direction: column;

            .photo-large {
                width: 100%;
            }

            .thumbnails {
                flex-direction: row;
                /* flex-wrap: wrap; */
                gap: var(--espace-1);
                width: 100%;
            }
        }

        .voiture-details {
            flex-direction: column;

            .voiture-actions {
                flex: 1;
                button {
                    width: 60vw;
                }
            }
        }

        .voiture-params {
            span {
                width: 100%;
            }
        }
    }
}
