.checkbox-container {
    display: flex;
    height: 20px;
    gap: var(--espace-quart);
    accent-color: var(--coul-primaire);
}

.checkbox-container--body-type {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
