.div-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .line-1 {
        background-color: var(--coul-primaire);
        height: 2px;
        position: absolute;
        top: 70px;
        width: 100%;
    }
    
    .line-2 {
        display: none;
    }

    .div-nav {
        display: flex;
        height: 100%;

        img {
            width: 236px;
        }

        .div-list-nav {
            display: flex;

            .list-nav {
                display: flex;
                flex-wrap: wrap;
                height: 100%;

                li {
                    align-items: center;
                    display: flex;
                    height: 70px;
                    padding: 0 var(--espace-2) 0 var(--espace-2);
                    position: relative;

                    a {
                        text-decoration: none;
                        color: var(--coul-primaire);
                    }

                    .active {
                        font-family: "Palanquin Dark";
                        font-weight: 700;
                        font-style: normal;
                    }
                }

                li:hover {
                    background-color: var(--coul-primaire);

                    a {
                        color: var(--coul-texte-claire);
                    }
                }

                .sous-list-nav {
                    display: none;
                }

                .voiture-nav:hover {
                    .sous-list-nav {
                        border: 2px var(--coul-primaire) solid;
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        left: 0;
                        position: absolute;
                        top: 70px;
                        width: 20rem;

                        li {
                            background-color: var(--coul-fond-claire);

                            a {
                                color: var(--coul-primaire);
                            }
                        }

                        li:hover {
                            background-color: var(--coul-primaire);

                            a {
                                color: var(--coul-texte-claire);
                            }
                        }
                    }
                }
            }
        }
    }

    .div-lang {
        align-items: center;
        display: flex;
        gap: var(--espace-1);
        height: 100%;

        button {
            align-items: center;
            display: flex;
            height: 50%;

            a {
                color: var(--coul-texte-claire);
                text-decoration: none;
                white-space: nowrap;
            }
        }

        .div-connexion {
            align-items: center;
            display: flex;
            border: 1px var(--coul-primaire) solid;
            padding: var(--espace-quart) var(--espace-3quarts);
            height: 50%;

            a {
                color: var(--coul-primaire);
                display: block;
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }
}

@media screen and (max-width: 834px) {
    .div-header {
        .line-2 {
            background-color: var(--coul-primaire);
            display: block;
            height: 2px;
            position: absolute;
            top: 140px;
            width: 100%;
        }


        .div-nav {
            /* width: 100%; */

            .div-list-nav {
    
                .list-nav {
                    font-size: var(--texte-xs);

    
                    li {
                        padding: 0 var(--espace-1) 0 var(--espace-1);

                    }

                }
            }
        }
    

    }
}

@media screen and (max-width: 428px) {
    .div-header {
        border: 2px var(--coul-primaire) solid;
        flex-direction: column;
        height: fit-content;
        position: relative;
        width: calc(100vw - var(--espace-1half));
        
        .line-1,
        .line-2 {
            display: none;
        }

        .div-nav {
            flex-direction: column;

            img {
                width: 100%;
            }

            .div-list-nav {
                .list-nav {
                    li {
                        border-bottom: 2px var(--coul-primaire) solid;
                        justify-content: center;
                        width: calc(100vw - var(--espace-3));
                        font-size: var(--texte-md);

                    }

                    .voiture-nav:hover {
                        .sous-list-nav {
                            background-color: white;
                            left: 2rem;
                            z-index: 10000;

                            li {
                                border: none;
                            }
                        }
                    }
                }
            }
        }

        .div-lang {
            height: 70px;

            button {
                height: 10%;
                position: absolute;
                right: 3px;
                top: 5px;
            }

            .div-connexion {
                border: none;

                a {
                    font-family: "Palanquin";
                    font-size: var(--texte-md);
                }
            }
        }
    }
}
