
.form_recherche {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--espace-1);
    justify-content: flex-end;

}

.div-recherche{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.div-recherche-long {
    width: 100%;
}

.input_recherche {
    border-radius: 0.3rem;
    background-color: var(--coul-fond-pale);
    border: 1px solid var(--coul-primaire);
    color: var(--coul-primaire);
    font-family: "Roboto";
    font-size: var(--texte-sm);
    padding: var(--espace-quart) var(--espace-3quarts);
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 834px) {
    
    .div-recherche{
        width: 100%;
    }

    @media screen and (max-width: 428px) {

        .form_recherche {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

    }
}
